nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3.5em;
  background-color: rgb(70, 73, 104);
  display: flex;
  align-items: center;
  color: #fff;
}
.title {
  flex: 1;
  text-align: center;
}
.title h4 {
  letter-spacing: 5px;
  font-size: 18px;
}
.title span {
  color: #222;
}
.list {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}
.list li {
  display: flex;
  align-items: center;
  padding: 0 2em;
  margin: 0 0.5em;
  height: 80%;
  cursor: pointer;
  border-radius: 5px;
}
li:hover {
  background-color: #fff;
  color: #222;
}

button {
  display: none;
}
@media screen and (max-width: 960px) {
  .list {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 0;
    background-color: rgb(55, 61, 99);
    margin: 0;
    padding: 0;
    flex-direction: column;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .list.show {
    width: 15em;
  }
  .list li {
    width: 90%;
    height: 3em;
    font-size: 14px;
    justify-content: center;
    padding: 0;
    margin: 1em 0;
  }
  button {
    width: 4em;
    height: 3em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 2em;
    display: flex;
    background-color: transparent;
    border: none;
  }
  button i {
    font-size: 26px;
    color: #fff;
  }
}
