* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem 0;
  width: 100vw;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  aspect-ratio: 30/5;
  width: 80%;
  background-color: #465d71;
}

body header p {
  margin-left: 10em;
  color: #fff;
}

body main {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .post-list {
  width: 60%;
}

body main .post-list article {
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #444;
}

body main .post-list article .post-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .post-list article .post-header .poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.3em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body main .post-list article .post-header .poster .post-time {
  color: #3f5f7c;
}

body main .post-list article .post-header .edit-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

body main .post-list article .post-content {
  width: 100%;
  margin: 0.5rem 0;
  aspect-ratio: 16/3;
}

body main .post-list article .post-content h3 {
  font-size: 22px;
}

body main .post-list article .post-content p {
  margin: 0.3rem 0;
  font-size: 16px;
  font-weight: 300;
}

body main .post-list article .post-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .post-list article .post-footer .emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 0.5em;
}

body main .post-list article .post-footer .emoji .good i {
  color: #2f8c2f;
}

body main .post-list article .post-footer .emoji .good span {
  font-size: 12px;
}

body main .post-list article .post-footer .emoji .angry i {
  color: #de4f4f;
}

body main .post-list article .post-footer .emoji .angry span {
  font-size: 12px;
}

body main .post-list article .post-footer .delete-btn {
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
  border: none;
}

body main aside {
  position: relative;
  width: 40%;
}

body main aside .add-post {
  position: absolute;
  width: 7em;
  aspect-ratio: 2.5/1;
  right: 0em;
  top: 0;
  background-color: transparent;
  border-radius: 5px;
  -webkit-box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
}

body main aside .add-post:hover {
  -webkit-transform: translate(3px, 1px);
          transform: translate(3px, 1px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

body main aside .write-post {
  position: absolute;
  width: 0em;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #444;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

body main aside .write-post.show {
  width: 22rem;
  aspect-ratio: 4/2;
  opacity: 1;
}

body main aside .write-post input {
  padding-left: 0.5em;
  height: 2em;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
}

body main aside .write-post .title {
  height: 2em;
  font-weight: 600;
  font-size: 18px;
}

body main aside .write-post .post {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body main aside .write-post .submit {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */